body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Asegúrate de tener un fondo claro */
    color: white; /* Color del texto negro */
}

header {

    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}


h2 {
    border-bottom: 2px solid #181a1d;
    padding-bottom: 10px;
}
.carrusel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrusel-container img {
    width: 100%;
    display: block;
}

.botones {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    text-align: center;
    padding: 20px;
    background: #69798a;

}
